.hero{

    padding: 150px 0 200px;
    position: relative;

    &__textbox {
        display: flex;
        flex-direction: column;
        width: 450px;
    }

    &__heading {
        font-size: 36px;
        margin:0 0 30px;
        padding: 0;
    }

    &__desc {
        margin: 0 0 30px;
        padding: 0;
        color: dimgrey;
        opacity: 0.6;
        padding-left: 20px;
        border-left: 2px solid dimgrey;
    }


    &__bg {
        width: 560px;
        height: 530px;
        position: absolute;
        top: 108px;
        left: 1000px;
    }
}